<div class ="container">
  <footer class="footer">
    <small>
      <p>A social media site created by the boys, for the boys</p>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>